[2020-05-01 20:21] lazerwalker opened #2 "Issue loading project on UE 4.25 preview 7?"
Hi!

I'm trying to get this up and running for the first time. I'm running UE 4.25 preview 7 (preview 6 does not appear to be available for download any more through the launcher) and confirmed I'm on the HEAD of the 0.8.x branch of this repo.

When I try to open this project, UE4 stalls with the splash screen at "39% initialized". I've tried this multiple times, verifying my UE4 install, rebootin

[2020-05-05 15:45] #2 closed, assigned to nobody

[2020-05-26 23:57] wiwei opened #3 "Broken images on the github.io docs for Hand Interaction"
https://microsoft.github.io/MixedReality-UXTools-Unreal/version/public/0.8.x/Docs/HandInteraction.html

![image](https://user-images.githubusercontent.com/5840182/82961324-dc0a3a00-9f71-11ea-8f8c-1faf1c1eff7c.png)

Consider using some of the CI scripts to prevent broken images from getting checked in:
https://github.com/microsoft/MixedRealityToolkit-Unity/blob/mrtk_development/scripts/ci/validated

[2020-06-04 09:24] luis-valverde-ms commented on #3
Thanks @wiwei ! @thalbern , is this something you could follow up on?

[2020-06-04 11:44] paco-ms commented on #3
Note the image are correctly appearing if visualizing them through the .md files in github.com
https://github.com/microsoft/MixedReality-UXTools-Unreal/blob/public/0.8.x/Docs/HandInteraction.md

[2020-06-04 11:46] paco-ms commented on #3
It looks like case sensitivity issue.

The broken URL to the image is https://microsoft.github.io/MixedReality-UXTools-Unreal/version/public/0.8.x/Docs/Images/PokeInteraction.png.

The URL https://microsoft.github.io/MixedReality-UXTools-Unreal/version/public/0.8.x/Docs/Images/PokeInteraction.PNG works.

[2020-06-04 13:24] luis-valverde-ms commented on #3
Could it be that the image files in the doc website are stale? As far as I can tell both the image files and the references to them in the .md use _.png_ now.

[2020-06-04 13:33] paco-ms commented on #3
The stale image files are in the "gh_pages" branch and yes, those have the capitalized extension.
Moving conversation to AB#469.

[2020-06-17 06:55] Ashing27 opened #5 "【Feature Requests】Can I use the UxtGenericManipulator with ProceduralMesh instead of StaticMesh?"
Thanks for the UXTools plugin. I've made a project by following the "AR chess game" demo, and the UxtGenericManipulator can work well with the StaticMeshComponent.
And now, I tried to load a static mesh data at runtime, by using ProceduralMeshComponent but it seems the UxtGenericManipulator can not work with it, the same hand action will get no response.
The only way that I can make it work now is

[2020-06-18 13:07] camccaf-msft commented on #5
Hey Ashing, thanks for the question!
Have you disabled "Use Complex as Simple Collision" and set "Create Collision" when you create the procedural mesh? This is necessary for the procedural mesh to have a the collision volume necessary for simulating the component.

I've attached a screenshot below to show how I set up a procedural mesh from a static mesh at runtime and highlighted the settings ch

[2020-06-19 04:00] Ashing27 commented on #5
Thank you very much for the solution!
It works very well now, procedural mesh component has same behavior as static mesh component now!
The way I created the procedural mesh is a little difference, but it also work, I think it means that the config about collision is exactly the root cause.

[2020-06-19 04:00] #5 closed

[2020-06-20 22:55] larsonmattr opened #6 "Unable to package for HoloLens after including UXTools in UE 4.25.1 project."
Working through Microsoft's Tutorial for HoloLens development with UE 4.25.1, part 4 (https://docs.microsoft.com/en-us/windows/mixed-reality/unreal-uxt-ch4), I am finding that I am unable to package for the HoloLens after steps including adding this MixedReality-UXTools-Unreal plugin to the project.

Prior to add UXTools to the UE 4.25.1 project, I could package successfully to HoloLens (File->Pac

[2020-06-22 15:30] larsonmattr commented on #6
Two notes:

I had created the project as a Blueprints project - this may be why the targets are being built incorrectly.

I have now been able to build as a C++ project and package successfully with UXTools.
While trying to package the C++ project, I repeatedly hit a problem of UE 4.25.1 failing the build immediately and complaining "Signing key not found. The app could not be digitally signed." e

[2020-06-23 11:59] AndreyChistyakov commented on #6
That could happen if the publisher's name is malformed. The publisher of the app should be same as publisher of the certificate. Also publisher should be in LDAP Data Interchange Format, like

[code]

[2020-06-23 13:21] luis-valverde-ms commented on #6
Thanks @AndreyChistyakov . Do you know if we can detect that situation and issue a different error message?

[2020-06-23 13:30] luis-valverde-ms commented on #6
@larsonmattr thanks for reporting your issues. This really helps us improve the experience for everybody.

Regarding not being able to package blueprint-only projects when using the plugin, unfortunately it is a know UE issue with game plugins in HoloLens. We will be following up with Epic on this and will update our readme in the meantime to warn about the issue.

About the "Signing key not found

[2020-06-23 13:30] larsonmattr commented on #6
@AndreyChistyakov - thanks for the suggestion. I did have my publisher name as CN={XX} in the failing C++ packaging attempts and then changed it to be CN=XX, removing the two curly brackets in the later packing attempt that was succeeding.

[2020-06-23 15:48] lukase opened #7 "'/Script/UXTools' missing while packaging for Hololens 2 on Unreal 4.25.1"
When applying the instructions from the [Tutorial](https://docs.microsoft.com/en-us/windows/mixed-reality/unreal-uxt-ch6) on my own project, packaging for Hololens 2 fails.

The output log contains multiple lines like the following:
`UATHelper: Packaging (HoloLens):   LogUObjectGlobals: Warning: Failed to load '/Script/UXTools': Can't find file.`

This causes blueprint compilation of my Pawn bluep

[2020-06-23 16:19] larsonmattr commented on #6
In summary - this issue can be closed, and I am now successfully packaging and deploying to HL2 with UXTools. Thanks all!

Solutions:
1. Make sure to use C++ rather than Blueprint project for building UXTools
2. Make sure to provide the Publisher name correctly prior to generating self-signed certificate in UE4. This may be why packaging wasn't starting with a certificate error for me.
3. Reinstal

[2020-06-23 19:52] sw5813 commented on #6
@larsonmattr thank you for the feedback! PRs have been submitted to update the documentation:
https://github.com/MicrosoftDocs/mixed-reality/pull/2296
https://github.com/MicrosoftDocs/mixed-reality/pull/2297

Closing this issue now.

[2020-06-23 19:52] #6 closed

[2020-06-23 20:07] sw5813 commented on #7
@lukase- can you confirm that you've enabled the Mixed Reality UX Tools plugin under **Edit** > **Plugins** > **Project** > **Other**?

[2020-06-23 22:26] lukase commented on #7
@sw5813 - yes, I can confirm that.

When re-loading my level in the editor, I get a similar error message in the message log:
`Failed to load /Script/UXTools.UtxHandInteractionActor Referenced by K2Node_SpawnActorFromClass_0`

My level also contains a button based on `/UXTools/SimpleButton/SimpleButton`, which causes no errors.

When I remove the `SpawnActor Uxt Hand Interaction Actor` blocks from

[2020-06-23 22:29] sw5813 commented on #7
The error message above contains a typo- "Utx" instead of "Uxt". Can you double check that there isn't a spelling error in your project?

[2020-06-23 22:33] lukase commented on #7
Yes, sorry, that was a typo introduced while writing the comment. The actuall error message is
`LoadErrors: Failed to load /Script/UXTools.UxtHandInteractionActor Referenced by K2Node_SpawnActorFromClass_0`

[2020-06-24 07:46] aoighost opened #8 "Oculus Quest hand tracking support"
adding the ability to track hands with an oculus quest would help with ability to develop for MRTK across HMDs

[2020-06-24 11:22] paco-ms commented on #8
Hi Aoighost - thanks for the request.

While the immediate focus of our UXTools and MRTK-Unreal is support for HoloLens 2 development, cross-platform development remains a key scenario for developers and thus for us. This includes Oculus Quest.

While it should be possible to implement some of the internal abstractions in UXT to work for Oculus Quest, our preferred approach is to use built-in UE a

[2020-06-24 14:01] jjimenezg93 commented on #7
Hi @lukase ,

Thanks for bringing this up. We're actively looking into it and will get back to you as soon as we have more information.

[2020-06-24 16:09] jjimenezg93 commented on #7
Hi again @lukase ,

Could you please change the `LoadingPhase` property of the `UXTools` module from `Default` to `PreDefault` as a workaround? You should find this in the `Plugins/UXTools/UXTools.uplugin` file of your project.

Then, reopening the project should no longer show the `Failed to load` error and you should be able to successfully create a package for HoloLens 2.

Please, let us know i

[2020-06-25 08:38] lukase commented on #7
Hi @jjimenezg93 ,
thank you for the quick reply. The workaround fixes both the loading and packaging errors. My project now works as expected, both in the editor and on the device.

[2020-07-01 11:25] aoighost commented on #8
Sweet, thanks. I'm really looking forward to how this progresses, as XR was the only real thing holding me to Unity. If you don't mind my asking, what kind of time frame do you expect more features to be added by bringing it up to par with unity?

[2020-07-01 13:44] jjimenezg93 commented on #7
Hi @lukase ,

We wanted to let you know that a fix has been introduced to make this fix permanent, starting from **0.9.0**.

Thank you for dragging our attention to this.

Best.

[2020-07-01 13:44] #7 closed

[2020-07-03 16:28] luis-valverde-ms commented on #8
Hi @aoighost ,

We are focusing UXT on UX features instead of trying to cover the whole set of features in MRKT-Unity. Things like the generalized input abstraction that MRTK-Unity provides are out of the scope for this project. You can get a rough idea of what we're aminig for looking at the UX building blocks described [here](https://microsoft.github.io/MixedRealityToolkit-Unity/README.html#ux-b

[2020-07-08 23:12] aoighost commented on #8
Sweet. I'm currently building a tool and would find Slates, near menus, keyboards, dialogs, docks, object collections, and scrolling collections very useful in the near term. Mid to long term would be things like speech and dictation. I know that doesn't narrow it down much, but /shrug.

[2020-07-09 08:37] luis-valverde-ms commented on #8
Thanks! It's good to know what people find most useful. Check out voice command support here:  https://docs.microsoft.com/en-us/windows/mixed-reality/unreal-voice-input.

[2020-07-23 16:52] dtb49 opened #10 "Spatial Understanding only seems to recognize "World""
So I have a pretty basic project. I was looking to just test out the capabilities of the Spatial Understanding that the plugin had. However, it doesn't seem to be able to recognize anything.

I am spawning a TextRenderer at each TrackGeometry with the Object Classification as Text.

The only text I am able to see is "World". I'm not sure if this is a bug or if the logic just isn't there yet.

<img

[2020-07-31 10:35] luis-valverde-ms commented on #10
Thanks for the feedback @dtb49 . It doesn't have to do with UXT but I'll try find the right channel to raise this in and get back to you.

[2020-08-11 12:48] thalbern commented on #3
fixed manually for old version https://microsoft.github.io/MixedReality-UXTools-Unreal/version/public/0.8.x/Docs/HandInteraction.html

[2020-08-11 12:48] #3 closed

[2020-08-12 00:33] sw5813 commented on #10
Hi @dtb49, spatial mapping only returns world meshes by design, so this is expected. However, we're working on integrating scene understanding support in future releases of Unreal, which will enable you to detect planes such as walls and floors!

[2020-08-12 00:33] #10 closed

[2020-09-03 01:59] andnovar opened #11 "UXTools and ARSessionConfig breaks when HTC Vive is connected"
When the HTC Vive is plugged in the computer, the engine seems not to import the AR plugin, which produces a wrong behavior on the hands interactions and camera navigation as can be seen in video.

https://youtu.be/I3RsBQXWFpM

I am using Unreal 4.25.3 , UXTools 0.9.0 and SteamVR 1.13.10

[2020-09-03 10:16] lukastoenneMS commented on #11
I couldn't test this specific setup due to lack of HTC Vive availability, but i'm pretty sure this is some ambiguity on the Unreal engine side. The Steam XRSystem is enabled by default, so connecting a Vive will enable that XRSystem and override the WindowsMixedReality one, so interactions stop working.

The simulated hands still show up because UXT input simulation doesn't properly check the type

[2020-10-15 08:50] helloqiqi opened #14 "multi-player use UXTools cant work."
i can run this UXtools very well for a player ,but while i switch Multi-player mode ,it didnt work.even I catch a box,it cant move with my hand.

[2020-10-15 10:11] luis-valverde-ms commented on #14
@helloqiqi thanks for the feedback. I have a few questions for you to help us look into the issue:

- What version of UXT and UE are you using?
- Do you have a project showing the issue that you can share with us?
- From your description I guess you have added a generic manipulator to that box?

[2020-10-16 02:15] helloqiqi commented on #14
hello,luis-valverde-ms,I use UXT 0.10 version.i have added a generic manipulator to that box,as i said, it can run very well for a player. you can try this test,creat a UE4 C++ project ,add uxtool plugin, multiplayer options with number os player 2 , net mode play as listen server,then play it, you find what i said.
i want multiplayer use  hololens2,  they can join one world and  interact with eac

[2020-10-16 10:49] jjimenezg93 commented on #14
Hi @helloqiqi,

We have started to investigate this issue and will keep you updated during the next few working days.

Thanks!

[2020-10-22 14:03] luis-valverde-ms commented on #14
@helloqiqi , we had a look to see if we could get that working quickly but it seems like it may take some time. We want to focus our efforts on improving the single player experience at the moment but we will give this another go in a couple of weeks. I think multiplayer support is key but a solid single player experience comes first as multiplayer builds on it.

Sorry for the inconvenience, we wi

[2020-10-23 04:29] helloqiqi commented on #14
@luis-valverde-ms it's ok,thanks very much for you have done ,single player experience perfect good,multiplayer is the future for many Apps,we are waiting your developments.

[2020-11-03 10:23] svandex opened #15 "SetIsPlated error, access violation"
I am creating the c++ class of Hand Menu by this [official link](https://microsoft.github.io/MixedReality-UXTools-Unreal/Docs/HandMenu.html)

In the constructor, I created the UChildActorComponent  by name `ChildActorOne` and then set it to a push button

[code]

Then I want to use AUxtPressableButtonActor 's `SetIsPlated` function to hide this button's own plate

[code]

 but it seems that I cann

[2020-11-03 10:59] svandex commented on #15
I solved it myself. `SetIsPlated` can only be used in `BeginPlay` function XD

[2020-11-03 11:00] #15 closed

[2020-11-03 12:07] luis-valverde-ms commented on #15
Glad to hear you are unblocked @svandex . I can't see anything in `SetIsPlated()` that would prevent you from calling it before `BeginPlay`. Could it have been that `ChildActorOne->GetChildActor()` was returning a null pointer?

[2020-11-13 09:20] Angelo-Gebauer opened #16 "Error on Packaging"
## UX Tools for Unreal v0.10.0

[2020-11-13 09:45] luis-valverde-ms commented on #16
Thanks for the info @Angelo-Gebauer . I take it that this happens to you when trying to package for HoloLens a project that uses the UXT plugin? What version of UE are you using? Can you send us the full log?

[2020-11-13 10:21] Angelo-Gebauer commented on #16
Hi, yes we try to package for HoloLens. We're using 4.25.3 We didnt have this problem with the old version of the plugin.
Log:
[Log.txt](https://github.com/microsoft/MixedReality-UXTools-Unreal/files/5536179/Log.txt)

[2020-11-13 11:01] luis-valverde-ms commented on #16
Can you try replacing 'ScriptName' by 'DisplayName' in all the enum values in `EUxtPaginateResult` and `EUxtScrollDirection`? You should end up with something like this:

[code]

[2020-11-14 15:23] xTeufelx opened #17 "Far interactions beam origin is wrong (using UXTools v0.10.0)"
I recently worked through the [Unreal development journey tutorial series](https://docs.microsoft.com/windows/mixed-reality/develop/unreal/tutorials/unreal-uxt-ch1), using UE 4.25.4 and UXTools v0.10.0. Everything was fine, until I deployed my application on a real device. The origin of the far interactions beam was not, as expected, within my hand. Instead, both beams for left and right hands wer

[2020-11-16 08:13] Angelo-Gebauer commented on #16
Sorry, for now we will just use the old version. We don't really have time to test things.

[2020-11-16 10:17] jjimenezg93 commented on #17
Hi @xTeufelx,

Thank you for your report! There are a couple of things that could help in resolving this faster:

1.  Could you attach a .zip file of your project? Please remember to delete the `Binaries` and `Intermediate` folders to reduce the file size.
2. Otherwise, could you please add a screenshot of your [`UxtHandInteractionActor`'s setup][1]? Both Blueprint nodes and component's hierarchy.

[2020-11-16 13:02] xTeufelx commented on #17
I updated the ticket according to your request. Did I capture the correct areas? Please note that I deleted the folders `Plugins` and `Build` as well in order to reduce the size of the .zip file so that it can be uploaded.

Yes, your assumtion was correct. I corrected the typo.

[2020-11-16 14:19] jjimenezg93 commented on #17
Great, thank you!

I was able to reproduce the behaviour you described, so I'll investigate and come back to you once I find out what's going on.

Sorry for the inconvenience.

[2020-11-16 16:22] jjimenezg93 commented on #17
Hi again @xTeufelx,

You should be able to solve your issue by re-attaching the `Camera` component to the root `CollisionComponent` directly, instead of having it attached to the `MeshComponent`:

![reattach_component](https://user-images.githubusercontent.com/6595611/99278576-21c00500-2827-11eb-9042-c197201e2b75.gif)

If that doesn't work, please do not hesitate to reopen this issue!

I appreciat

[2020-11-16 16:22] #17 closed

[2020-11-16 16:39] xTeufelx commented on #17
Hello @jjimenezg93,

I will implement and try you solution tomorrow.
 Thank you very much for your quick responses and for helping me out with this.

[2020-11-17 07:16] Angelo-Gebauer opened #18 "UXTools prevent WACK"
Hello,

first of, #16 is still open, this is about another app.
So, we built an App and now want to submit it to the store.
However, WACK doesn't pass. The reason it doesn't pass seems to be the UXTools.

<details>
  <summary>Errors:</summary>

API ??0exception@@QEAA@AEBQEBD@Z in msvcrt.dll is not supported for this application type. PerceptionSimulationManager.dll calls this API.

API ??0exceptio

[2020-11-17 10:00] luis-valverde-ms commented on #18
Hi @Angelo-Gebauer . I think those errors may actually be caused by the HoloLens plugin in Unreal. These are the DLLs reported as calling unsupported APIs:

- PerceptionSimulationManager.dll
- HolographicStreamerDesktop.dll
- Microsoft.Holographic.AppRemoting.dll
- PerceptionDevice.dll

Jackson Fields, @FlorianBagarMicrosoft , do you mind following up on this?

[2020-11-17 10:40] luis-valverde-ms commented on #18
@Angelo-Gebauer , I know we have an app in the store developed with UE and UX: [Kippy's Escape](https://www.microsoft.com/en-ie/p/kippys-escape/9nbd7gl86vkd?activetab=pivot:overviewtab). That makes me think that there must be a way to pass WACK. I'm not familiar with the process, but going from what I can see in Kippy's page I guess you need to specify the target platform and maybe capabilities. I

[2020-11-17 12:26] Angelo-Gebauer commented on #18
Yes

[2020-11-17 12:53] FlorianBagarMicrosoft commented on #18
@Angelo-Gebauer, does WACK fail for you when you try to submit to the store or when you locally run the Windows App Cert Kit? In case you are using the Windows App Cert Kit form the Windows SDK please ensure that you have installed the latest Windows SDK. Recently certain API restrictions for UWP apps have been lifted but with the Windows App Cert Kit from older Windows SDKs these APIs are still r

[2020-11-17 13:17] Angelo-Gebauer commented on #18
@FlorianBagarMicrosoft Happens with both

[2020-11-17 14:40] FlorianBagarMicrosoft commented on #18
@Angelo-Gebauer, could you please provide the version of the Windows App Cert Kit you are using and if possible also provide us the xml report? Other information which should help us with triaging this is the Windows SDK version your application targets and whether you are using Visual Studio 2017 or Visual Studio 2019.

[2020-11-17 14:43] luis-valverde-ms commented on #18
@Angelo-Gebauer , just double-checking here, are you building with VS 2019 and MSVC v142 (see [here](https://docs.unrealengine.com/en-US/Platforms/AR/HoloLens2/Prerequisites/index.html) for details)? The WACK errors refer to  msvcp140.dll, which I believe is the c++ runtime for VS 2015. This may lead to [incompatibilities](https://docs.microsoft.com/en-us/cpp/porting/binary-compat-2015-2017?view=m

[2020-11-17 15:10] Angelo-Gebauer commented on #18
I only have 2019 installed. and i also have the MSVC v142 installed...
![image](https://user-images.githubusercontent.com/11638143/99407452-66af6e80-28ef-11eb-9b87-35ca80241204.png)

[2020-11-17 15:16] luis-valverde-ms commented on #18
@Angelo-Gebauer can you share your project with us, or a project that exhibits the same behavior, so we can try repro the issue locally? Also, just making sure that Florian's ask don't get lost, can you send:
- Version of the Windows App Cert Kit you are using
- XML report produced by the cert kit
- Windows SDK version targeted by your app

[2020-11-17 16:03] sw5813 commented on #18
Hi @Angelo-Gebauer, what version of Unreal Engine are you using? There is a known bug in 4.25 that our team has fixed in 4.26. The issue was that x64 dlls were being included in packaged builds in 4.25, whereas only the ARM64 dlls should be included.

[2020-11-17 16:05] sw5813 commented on #18
Also, one more follow up question to help me better understand why you weren't able to get help the first three times you raised this issue (and prevent that from happening in the future!)- what channels did you use to raise this issue previously @Angelo-Gebauer?

[2020-11-17 17:22] AndreyChistyakov commented on #18
@Angelo-Gebauer You can work around that issue with 4.25. Open Engine/Plugins/Runtime/WindowsMixedReality/Source/WindowsMixedRealityHMD/WindowsMixedRealityHMD.Build.cs and change line 32 from
[code]
to
[code]

[2020-11-18 09:17] Angelo-Gebauer commented on #18
@sw5813 I used the

1. http://aka.ms/storesupport -> Contact Us -> Dashboard -> App certification failures
Who sent me a copy / paste text to go to:
2. http://aka.ms/storesupport -> Contact Us -> Dashboard -> App submissions and management
Who sent me a copy paste text of the same text you see in the WACK-report (the "how to fix"), which is useless in this case.
I then went back and contacted 1 ag

[2020-11-18 10:26] Angelo-Gebauer commented on #18
OK, so the fix from @AndreyChistyakov did not work (at least with local wack).

@luis-valverde-ms Im using wack 10.0.19041.1. Target platform is min 10.0.18362.0, max 10.0.19041.0.

[2020-11-18 11:52] luis-valverde-ms commented on #18
@Angelo-Gebauer , Andrey's fix worked for me. This is what I did, in case we did something differently:

1. In my game's solution in Visual Studio, I located WindowsMixedRealityHMD.Build.cs and made the change suggested by Andrey.
2. Closed Visual Studio and the Unreal editor.
3. Opened my game's .uproject.
4. Packaged the game for HoloLens (File > Package Project > HoloLens).
5. Ran WACK locally.

[2020-11-18 12:01] Angelo-Gebauer commented on #18
Damn, i actually forgot to change the unequal to an equal.
Sorry for that, it works locally now.

I'll resubmit the app to the store and give you feedback here if it did work.

[2020-11-20 07:45] Angelo-Gebauer commented on #18
Works, thanks for the help.

[2020-11-20 07:45] #18 closed

[2020-11-20 10:56] luis-valverde-ms opened #19 ""Missing precompiled manifest for 'UXTools'" error when packaging for HoloLens"
Creating this issue so others are aware of the workaround and the work in progress to fix it.

This happens when packaging for HoloLens a game using the Marketplace version of UXT v0.10.0. The error you will see is something like:

It is caused by missing precompiled files for HoloLens in the Marketplace version of the plugin. A way to work around it is to use the packaged plugin from the GitHub r

[2020-11-20 11:39] luis-valverde-ms commented on #18
Sorry for the hassle @Angelo-Gebauer . Do you want to share a link to your app once it is in the store? We'd love to check it out, you must be one of the first ones to publish using UE + UXT + HoloLens 2.

[2020-12-27 09:40] crssnky opened #20 "Add "bool bFocusLockable" property in UUxtTouchableVolumeComponent."
[code]

Wouldn't it be as shown below?
(Off course, add bForcusLockable and its set/get as UUxtTouchableVolumeComponent's property.)
"bForcusLockable" is a tentative name. Please give it a better name.

[code]

[2021-01-04 12:35] valverl commented on #20
Thanks for the feedback @crssnky . We currently lock the focus always to avoid interacting accidentally with other objects while the interaction with the touchable volume is in progress. Can you give us a bit of background on why you need to disable focus lock in your use case?

[2021-01-05 14:07] crssnky commented on #20
I want that object react with focus.
But not move it. Just react by focus.

This is implemented example.
https://twitter.com/crosssoniky28/status/1343211451306049538

[2021-01-06 15:42] luis-valverde-ms opened #21 "Add a "Maintain Original Orientation" orientation type to the tap to place component"
To obtain the same behavior you get with the rotation mode of the same name in the generic manipulator component. See this Slack post for the original user request: https://holodevelopers.slack.com/archives/CHMBTF4SZ/p1609684192063100.

[2021-01-07 12:31] luis-valverde-ms commented on #20
Thanks @crssnky . It took me a while to understand what was going on in the video but I think I get it now. I think it makes sense to change the touchable volume to allow that behavior. If you can share it and so we understand better the practical application, why does your touchable volume require that behavior?

[2021-01-10 16:08] crssnky commented on #20
I'm sorry, that I'm not English speaker.

It means below?
[code]

`UX Tools` plugin is not managed under the GitHub.(Like a Release Platform)
So, I can't manage my branch incude desired change under the git.

When 'UX Tools' updated, I have to add desired change every time.

[2021-01-11 09:14] luis-valverde-ms commented on #20
My bad, the way I wrote that was not very clear. What I meant was: what are you using the touchable volume for? I just want to understand in what situations it makes sense to have bFocusLockable set to false.

[2021-01-11 15:27] crssnky commented on #20
Hand Iteraction focus an touchable volume without moving it.
For example ↓
https://twitter.com/crosssoniky28/status/1348647313133035521

Objects can receive focus event at one grab action.

[2021-01-19 15:01] luis-valverde-ms commented on #16
Resolved by Vanessa's fix: 2afc85b

[2021-01-19 15:01] #16 closed

[2021-01-26 14:51] macborow commented on #21
Implemented in the main development branch. The fix will be included in the next release (UXTools 0.12.0).

[2021-01-26 14:51] #21 closed

[2021-01-26 15:03] camccaf-msft commented on #20
Hey @crssnky, this has been added in a826eb1fbcc089587ace9596f21c604ef39ab791 which you can get from our master branch!

[2021-01-26 15:35] #20 closed

[2021-01-26 15:37] crssnky commented on #20
Thank you very much!

[2021-02-01 15:40] crssnky opened #22 "Add Pointer Grab and Release event dispatcher"
I want to receive these events.
We can focus objects because #20 .
Next, I want to action to objects same time.

I wrote it.
https://github.com/crssnky/MixedReality-UXTools-Unreal/commit/eaeb479a8d923e0eb6675e1de442b8d20e9dc29e

It works. (This account is my other account.)
https://twitter.com/croMisa/status/1356262260654567425

[2021-02-02 12:13] luis-valverde-ms commented on #22
Hey @crssnky , if I read it right your grab and release events are the same as _far pressed_ and _far released_.  You can instead derive from `UxtTouchableVolumeComponent` and override `OnFarPressed_Implementation` and `OnFarReleased_Implementation`. If you do so, remember to call the base class implementation from the method overrides!

[2021-02-04 14:39] crssnky commented on #22
Currently, I want to receive a ReleaseEvent.
Further, I want that it events at any time.

`OnFarReleased_Implementation` is called when FarPointer release in TouchableVolume.
It does not receive ReleaseEvent when FarPointer is away.

[2021-02-04 15:34] luis-valverde-ms commented on #22
Understood, you want global events. In that case, have a look at UUxtInputSubsystem::RegisterHandler. You can use it like this:

[code]

Sorry for the lack of documentation around this, we're still working on it.

[2021-02-04 16:40] Mangolicious opened #23 "UxtPressableButtonActor interaction does not work in a build."
Since i updated the project to 4.26 all UxtPressableButtonActor child actors, trigger inconsistent and not at all when pointing a finger at them. Even the default examples do not work in HL2 anymore. In editor with remote streaming or interaction simulation, everything works as intended. This error only appears when built.

Steps to reproduce:
Install plugin in fresh ue4.26 project
Setup player pa

[2021-02-05 10:52] luis-valverde-ms commented on #23
Thanks for reporting the issue @Mangolicious . What version of UXT and UE (4.26.0 or 4.26.1) are you using? Can you send us a repro project to help us look into it?

[2021-02-06 17:40] Mangolicious commented on #23
Sry i cannot seend a repo project, nda stuff. But we did find a workaround to the problem. Setting the button poke behaviour to :: volume instead of :: frontface fixed it. I had the impression that the trace for poking buttons was going inward into my finger tips.
This happend using 4.26.1(also happend before in 4.26) and uxt 0.11 (latest dowload from github 2 days ago).

[2021-02-07 15:12] crssnky commented on #22
Thank you for other suggestion.

Defining MyFarHandler. <- I understood.

Calling `RegisterHandler`. <- I can't understand.
Where should I call it?
I searched `RegisterHandler` in this plugin.
I found it in only `UUxtTapToPlaceComponent::StartPlacement`.
But, `StartPlacement` is called in OnFarReleased_Implementation...

Simply, I should call `RegisterHandler` in Initialize?
(Maybe, GameMode class

[2021-02-08 09:30] luis-valverde-ms commented on #22
I would call `RegisterHandler`/`UnregisterHandler` from the `BeginPlay`/`EndPlay` methods of the actor or component where you want to handle those events from.

You can make that actor/component inherit from `IUxtFarHandler` so you don't need to create a separate handler object. E.g.:

`class AMyActor : public AActor, public IUxtFarHandler {}`

If you want to handle the events from a blueprint you

[2021-02-08 11:07] luis-valverde-ms commented on #23
Thanks @Mangolicious . I was asking for a repro because the steps you describe to reproduce it are very similar to what we run in internal testing and we haven't seen the issue there, so I wanted to have a project where we know for sure the issue is happening. I take it then that you didn't run the steps to repro yourself?

I want to get to the bottom of it because I think the poke behavior workar

[2021-02-08 11:12] luis-valverde-ms commented on #23
Does this issue reproduce with new buttons or only with existing ones. Existing buttons may misbehave after some UXT version updates. In particular, buttons created before 0.9 will be facing in the wrong direction: https://microsoft.github.io/MixedReality-UXTools-Unreal/version/public/0.9.x/Docs/ReleaseNotes.html#fix-buttons-so-that-they-face-positive-x

[2021-02-11 18:31] macborow commented on #23
Hi @Mangolicious! I created a new project in 4.26.1 with UXTools 0.11.0 and also tried updating a project created in 4.25.4 (UXTools 0.10.0) to UE 4.26.1 + UXTools 0.11.0. I didn't observe this issue on a HoloLens2 device (in a deployed app).
Luis suggested that the problem might be related to the orientation of the button. UXT buttons are by default facing in the direction of negative X values an

[2021-02-17 23:24] Mangolicious commented on #23
i can confirm that this was the issue, rotating did fix the forward facing button interaction.

[2021-02-18 16:11] macborow commented on #23
Thanks for checking and I'm glad that the issue is resolved.

[2021-02-18 16:11] #23 closed

[2021-02-20 09:36] Eddiechui opened #24 "HandMenu Error and DestructibleActor"
Hi! I have two questions.

1st question:
I designed a level with HandMenu with several child actors linking with buttons. I also have the same HandMenu on the next level. It worked great when I was playing in the unreal engine. I packaged the game and imported it into my Hololens 2 and here came the problem.

In the first level, I turned my palm up and the hand menu popped out and functioned norma

[2021-02-22 14:45] lukastoenneMS commented on #24
I've made a repro project from scratch to test this, using the 0.11 UXT release. If you have a repro project you can share that might help identify the problem too.
[https://github.com/lukastoenneMS/UxtHandMenuTest](https://github.com/lukastoenneMS/UxtHandMenuTest)

Can you be more specific about the disordered buttons? Some screenshots might help with this. Maybe have a look at the project above

[2021-02-24 14:08] luis-valverde-ms commented on #19
The issue has been solved, the Marketplace version of the plugin includes precompiled files now.

[2021-02-24 14:08] #19 closed

[2021-02-24 15:44] Eddiechui commented on #24
Oh yes! I think you are correct. It should be the problem of the infinite loop of the pressed event. I do not have the Hololens2 with me now. I will try the 'Released' event instead and also take some screenshots of disordered buttons when I get back my Hololens. Thanks!

Yes, the DestructibleActor is part of the Apex Destruction plugin. Hope that it is only my problem instead of the system's. Or

[2021-02-24 18:20] SuperFreqA opened #25 "Surface highlighting on BoundsControls not working"
**Using version 0.11
UE Version 4.26.1
plugin loaded in project directory (not sure if that matters.**

The default Uxt Bounds Control Component does not appear to have the proximity surface highlighting I am used to for HL2 controls. Is there a way to turn this on. Corner and edge controls display correctly but surfaces between them don't have that "flashlight" highlighting.

[2021-02-25 00:14] YiRonger opened #26 "as long as "Generate Collision for Mesh Data" is opened, the button can't be clicked in ue4.26.1"
Hello,
Using version 0.11
UE Version 4.26.1
 As long as "Generate Collision for Mesh Data" is opened in ARSession, the button can't be clicked in ue4.26.1.

In ue4.25, I can click normally even if I select  "Generate Collision for Mesh Data", but not in ue4.26.

[2021-02-25 15:25] jjimenezg93 commented on #25
Hi @SuperFreqA,

Thanks for your report!

I understand that you're missing this highlighting:

![proximity_surface](https://user-images.githubusercontent.com/6595611/109174375-b3bba000-777c-11eb-824d-6aff934c154a.png)

I'm assuming that you aren't observing the issue in our demo scene, is that right? If so, could you please provide a `.zip` file with a project where this problem reproduces? Please

[2021-02-25 21:14] EqipInc commented on #25
Unfortunately this is a project I can't share (company policy). I can probably try to reproduce the issue with another project.
The actor is setup with two meshes under the scene node along with some proprietary deformable mesh components to do free form deformation. The UxtBoundsControl  and UxtGenericManipulator are components at the root. ![MicrosoftTeams-image](https://user-images.githubuserco

[2021-02-25 21:17] SuperFreqA commented on #25
Unfortunately this is a project I can't share (company policy). I can probably try to reproduce the issue with another project.
The actor is setup with two meshes under the scene node along with some proprietary deformable mesh components to do free form deformation. The UxtBoundsControl  and UxtGenericManipulator are components at the root.
![MicrosoftTeams-image](https://user-images.githubuserco

[2021-02-26 09:26] Eddiechui commented on #24
I tried the 'Released' event but still encountered the same problem. You can find the attached images for your information.
![1  FirstLevel](https://user-images.githubusercontent.com/59867565/109281581-74ae4d00-7857-11eb-95c9-e1cb47f86365.JPG)
![2  NextLevel_ButtonDisappear](https://user-images.githubusercontent.com/59867565/109281588-76781080-7857-11eb-99ee-05e0fa87ffdf.JPG)
![3  NextLevel_Button

[2021-02-26 10:17] lukastoenneMS commented on #24
This "force constraint" function does not exist yet, we'd have to add that to the component API. Calling it would instantly move the menu to a position where the constraint is satisfied, so it doesn't move any more as long as the user stays still. That would be useful for cases like map loading or teleporting where you don't want the menu to jump across the room.

From looking at the pictures my f

[2021-02-28 12:04] crssnky commented on #22
I'm sorry I replied late.

I added the UInterface to my actor in Blueprint.
But, my actor doesn not call release event.

I did not return true in "CanHandleFar" function.
I return true, it works my wish!!

Thank you for your advice!!

[2021-02-28 12:04] #22 closed

[2021-02-28 15:22] crssnky opened #27 "FindFarTarget() has to check owner before For-Loop."
UxtFarPointerComponent.cpp
[code]

I use GeometryBrush actors in PIE.
UE4 crashes in `FindFarTarget()` when FarPointer touches a GeometryBrush actor.
GeometryBrush actors does not have owner.
It has to check owner before For-Loop.

Maybe, there are others like this.

[2021-03-01 09:59] Angelo-Gebauer commented on #18
@luis-valverde-ms Sorry for not answering sooner. Was assigned with other tasks, i'm sure you know how it is ^^

The app is in the store, however it is (as of now) only in german, sorry for that 😄

It is basically a Step-By-Step Guidance app. You can create "step by step guides" with our tools and play said guides on the hololens 2 with this app.

You can find it under:
https://www.microsoft.com/d

[2021-03-01 16:10] jjimenezg93 commented on #25
In order to get that highlighting behaviour, our default `BP_CoffeeCup` has a mesh component called `BoundControl` with `SM_BoundsControl` as static mesh and `MI_BoundsControl` as material instance, which dynamically render the highlight when appropriate.

Judging by the names of the components in your example, I think you might be missing this `StaticMesh` component. Is that the case? If so, you

[2021-03-01 16:59] lukastoenneMS commented on #27
Thanks for reporting! This is fixed in the master branch now ([link to commit](https://github.com/microsoft/MixedReality-UXTools-Unreal/commit/1bd66c704b379539c1e7425fdbaee1f911a8c148))
We've had a couple of places where it was assumed GetOwner() would always be valid. There should be proper checks everywhere now, even though in practice it should only come up when looking at other components such

[2021-03-01 16:59] #27 closed

[2021-03-02 22:56] EqipInc commented on #25
Where can I get this BP_CoffeeCup? is there a demo project that I could reference for this?

[2021-03-02 22:56] SuperFreqA commented on #25
Where can I get this BP_CoffeeCup? is there a demo project that I could reference for this?

[2021-03-03 00:51] SuperFreqA commented on #25
This does seem to fix the problem mostly. I did need to add the BoundControl object and the extra variables DefaultActorTransform and ShowBoundControl along with the construction script.
Unfortunately getting the bounds for the two static mesh objects I have does not match the bounds for the UxtBoundsControl object. Our meshes have an origin outside of the object which is accounted for in the uxtB

[2021-03-03 16:52] jjimenezg93 commented on #25
Indeed, the `UxtBoundsControlComponent` automatically adds a `BoxCollider`, which we use to prevent pointers from passing through the box and matches the transforms of the handles.

My understanding of your current problem is that this `BoxCollider` doesn't match the `BoundControl` mesh added in the Blueprint:

![image](https://user-images.githubusercontent.com/6595611/109787078-c19e7480-7c05-11eb

[2021-03-04 08:52] EVRTOP commented on #26
@macborow Hello, do you have any updates?

[2021-03-04 11:54] macborow commented on #26
Sorry about the delay. I haven't had a chance to check this yet but I'll look into it shortly.

[2021-03-04 18:02] macborow commented on #26
The issue is caused by the collisions with reconstructed hand mesh and is a know issue at the moment. We are working on a fix but it will require changes in the Unreal Engine, so it will not be available right away. For now please use the following workaround which disables collisions for the hand mesh.

Assuming Start AR Session is called in Begin Play (inside Game Mode), you can use the followin

[2021-03-05 01:48] YiRonger commented on #26
OK, I see. Thank you very much!

[2021-03-16 19:01] SuperFreqA commented on #25
This works. Thank you for your help.

[2021-03-18 16:03] SuperFreqA commented on #25
![Screenshot 2021-03-18 095255](https://user-images.githubusercontent.com/19316049/111656256-f991e400-87cf-11eb-9795-56fb97ef216a.png)
Here was my setup for those that have this issue.
I am still seeing some artifacts with this solution that include proximity detection for grabbing corners and sides seems to be off by an inch or two. Also I am not getting triggers on translation (grabbing center o

[2021-03-23 22:07] SuperFreqA opened #30 "One hand rotation not working"
I am running UE 4.26.1 and UXT 0,11
Creating an actor with a static mesh, a UxtGenericManipulator and a UxtBoundsControl results in the ability to rotate and scale using bounds control objects with one hand, but one hand translation and rotation without using the bounds control manipulators does not seem to work.

[2021-03-24 20:49] SuperFreqA commented on #30
I am now using only the GenericManipulator and here is my configuration:
![image](https://user-images.githubusercontent.com/19316049/112380829-7a108300-8caf-11eb-90d5-292e974842c7.png)
The UXT demo game seems to work fine, so I must be missing something. I tried adding the Grab and Ungrab events to trigger debug and the event seems to be occurring, but not doing the action to translate or rotate.

[2021-03-25 10:44] camccaf-msft commented on #30
Hey SuperFreqA! Can you check your UxtGenericManipulator's `One Hand Rotation Mode` setting? UXT 0.11 has the unfortunate default of setting this to `Maintain Original Rotation` which will prevent the object from rotating as you manipulate it. Setting this to `Rotate About Grab Point` should give you the expected behavior. Most of these flags have been replaced by a more flexible transform constra

[2021-03-25 19:51] SuperFreqA commented on #30
Setting the hand rotation mode didn't fix the problem unfortunately. I still see no translation or rotation of any kind coming through to the static mesh.
Do I need to manually push the transform from the GenericManipulator to the static mesh? I don't recall having to do anything besides adding the component to my actor blueprint in 0.10. It feels like there is an update loop that is not happening

[2021-03-26 11:10] camccaf-msft commented on #30
You don't have to manually apply the transform, the component should function the same as it did in 0.10.
I've been able to replicate the behavior you're seeing by setting the `StaticMesh` and/or the `DefaultSceneRoot`'s _Mobility_ to _Static_ instead of _Movable_. Could this be what you're seeing here?

I've attached the project I've been using to try and repro this in-case that helps spot the di

[2021-03-30 15:40] #25 closed

[2021-04-15 09:29] camccaf-msft commented on #30
Hey @SuperFreqA, any updates on if you have managed to get to the bottom of the issue you were seeing? If not we'd be happy to investigate further if you can provide the project+actor configuration / a sample repro project as mentioned above.

[2021-04-30 15:51] crssnky opened #31 "HandInteraction can scroll ListView widget?"
I use UE 4.26.1 and UXT 0.11.

UMG supporting is not completely?

I have to place slider for scroll?

[2021-05-02 13:37] crssnky commented on #31
I'm sorry.
I can touch ListView's scroll bar.
I tried to touch list like a smartphone before.

[2021-05-02 13:37] #31 closed

[2021-05-20 06:10] Zikun-Huang opened #32 "[UXToolsGame | HoloLens 2] 3D Objects' coordinates are wrong after waking up from sleep mode"
### Issue description
Every time wake up HoloLens 2 from a 10-to-30-minutes sleep, the placed 3D Objects will be shifted to a random place as a group (i.e. absolute coordinates are wrong, while relative coordinates are still correct). It looks like the origin of the "world" has moved to a new random point out of unknown reason.

**Before getting into sleep mode:**
![20210519_223658_HoloLens](https

[2021-05-20 09:25] Zikun-Huang commented on #32
Upgrade to latest monthly release of Windows for Hologram (21H1 20346.1002) seems to fix the issue. Will conduct more tests to verify this.
Refer this doc for how-to upgrade if anyone is interesting on it.
https://docs.microsoft.com/en-us/hololens/hololens-recovery#clean-reflash-the-device
![image](https://user-images.githubusercontent.com/52370186/118954387-4b9de400-b990-11eb-918d-90f51d29c0f9.pn

[2021-05-20 09:38] luis-valverde-ms commented on #32
Thanks for reporting the issue which such great detail and for following up @Zikun-Huang . @fieldsJacksonG , do you have an inkling as to what may have changed in Windows that affected just Unreal apps in this way?

[2021-06-07 02:15] Zikun-Huang commented on #32
[New Update on issue]
After the upgrade, we found that the issue occurrence drops dramatically from 1/2 or 1/3 to 1/10 approx.
Not sure if that means we are safe to say the issue gets fixed.

[2021-06-08 11:08] luis-valverde-ms commented on #32
Thanks @Zikun-Huang . So you are still seeing the issue with the latest version of Windows, just less frequently? Are you using the Windows Mixed Reality plugin or the OpenXR one?

[2021-06-09 02:02] Zikun-Huang commented on #32
No worries Luis!
So yes, it is quite less frequent than that in previous OS version. I just simply download the UXToolsGame for Unreal v0.11.0 from Release of this Repo, and install it to HoloLens 2 via Device Portal, not went through any coding/build process. But I guess I am using Windows MR plugin?

[2021-06-09 08:54] luis-valverde-ms commented on #32
Yes, that'd be WMR. @fieldsJacksonG is having a look on the engine side. We'll keep you posted.

[2021-06-11 05:09] zotoli opened #33 "UxtScaleAxisConstraint feature request"
I couldn't find a way to constrain the scale axis while manipulating actors. So I made a new actor component following the style of the other constraints such as UxtRotationAxisConstraint. I am wondering if there is a built in way to accomplish this if not it would be great to see this included in the upcoming releases for organization sake. Also hope to see you enable PRs in the future. Thanks!

[2021-06-11 08:41] luis-valverde-ms commented on #33
Hi @zotoli . You can constraint the scale directly in manipulators in UXT 0.12.0. Does that work for you?

![image](https://user-images.githubusercontent.com/47451126/121658343-21c07480-ca99-11eb-90db-eff9f5a2668f.png)

[2021-06-11 09:00] lukastoenneMS commented on #11
I'm closing this bug, since it's not really an issue with UXTools but rather the HMD priority in UE4. The solution suggested by @makeshiftdan is what I would recommend when dealing with multiple HMDs attached.

Also note that with the 0.12 release of UXTools the input simulation is no longer part of the WMR plugin, so it might work a bit better out of the box (untested).

[2021-06-11 09:00] #11 closed

[2021-06-11 09:05] lukastoenneMS commented on #24
I'm closing this issue, assuming that using the "Release" event solved it.

[2021-06-11 09:05] #24 closed

[2021-06-11 11:41] zotoli commented on #33
Hi @luis-valverde-ms, thanks for your reply. The option you mentioned clamps the overall scaling but doesn't limit on which axes the scaling is performed on as far as I understand. What I am looking for was to limit the scaling to one axis.

For example lets say you have a geometric shape like a cylinder that you would want adjust to height without manipulating the radius. With the example I provi

[2021-06-14 09:54] luis-valverde-ms commented on #33
I see what you mean @zotoli . Your solution looks great for that but I'd like to try set that up in the manipulator directly instead. We setup the min/max scale limits directly in the manipulator because we want them to be applied by default and don't want to create an additional component each time you create a manipulator one.

I'm thinking that we could have min and max scale vectors in the man

[2021-06-17 17:48] zotoli commented on #33
That sounds like a good idea. It certainly addresses the scale axis selection that I initially intended this for. However clamping the scale to a vector min/max might have some unintended results. I wonder how intuitive it would be to use since the scale ratio between the axes can change if one of the axes reaches the limit earlier than the others.

I wonder if its a good idea / worth the effort t

[2021-06-23 09:40] luis-valverde-ms commented on #8
Updating here with the latest:

Since v0.12.0 we consume hand tracking input via the new cross-platform APIs (e.g. _GetMotionControllerData_ ) which means that, in theory, UXT should be driven by Quest hand tracking automatically. In practice what we are seeing in UE 4.26.2 is that results vary depending on the VR plugin in use (spoiler, neither works):

- OculusVR: motion controller and hands det

[2021-06-23 10:07] luis-valverde-ms commented on #33
There's a way to control that when using a [bounds control](https://microsoft.github.io/MixedReality-UXTools-Unreal/Docs/BoundsControl.html#bounds-control-config) component via the _UniformScaling_ property. Scaling via the generic manipulator is always uniform (e.g. along all axes) because we thought that restricting the scaling axes without affordances to give a visual cue may be unintuitive for

[2021-06-23 10:13] luis-valverde-ms commented on #30
Closing this as it has been inactive for a while. @SuperFreqA feel free to re-open if your issue hasn't been solved. If you fixed it on your side, please do share the solution here so it can help others and maybe give us a hint about things that can be more clear. Thanks!

[2021-06-23 10:13] #30 closed

[2021-06-23 22:04] zotoli commented on #33
Well If I'm honest we only had a few people interact with the objects so far so I can't really comment on the intuitiveness of multiple axis scaling. If its only one axis like in my case then its pretty clear what the object is supposed to do. I think the bounds control would be a better fit for the general user.

[2021-06-24 09:48] luis-valverde-ms commented on #33
I've added a task to look into this to our backlog. We should have something in the next few months, definitely for the next release. Are you happy with your local solution for the time being? If you experiment more and tweak it let us know, whatever you find useful some other people will find too.

[2021-06-25 10:44] dsimonow opened #34 "Touch input compatability (iOS/Android)"
Hello,
I couldn't find anything in the documentation that the Unreal UXTools support Touch input by iOS or Android devices. There are examples and documentation for Unity though.
Are the UXTools for Unreal also capable of Cross Platform usage, at least in an untested way?
Or is that to be expected anyway since we use the AR Context within unreal?

[2021-06-25 15:53] luis-valverde-ms commented on #34
Hey @dsimonow , that's right, you will have to change that line to include PLATFORM_IOS. Something like:
`#if PLATFORM_ANDROID || PLATFORM_IOS`
We don't support those platforms, that is we don't test or even build for them, but we did have that touch input working a while ago for Android. UXT should work though on [all XR devices supported by UE via OpenXR](https://microsoft.github.io/MixedReality

[2021-06-28 15:43] macborow commented on #26
Just a quick update on this issue - we added a workaround for this problem in UXTools 0.12.x release. Hand collisions are now automatically updated by UXTools and the changes in Blueprint which I mentioned earlier are no longer necessary.
The root cause has been fixed in Unreal Engine 4.27 and I have just checked that the fix is included in 4.27.0-preview2 build.

[2021-06-28 15:43] #26 closed

[2021-08-05 06:53] YiRonger opened #35 "Hello, I made a blueprint. There is a static mesh in it. When the collision of the object is opened after a delay of 8 seconds, the object still can't be grasped."
Hello, I made a blueprint. There is a static mesh in it. When the collision of the object is opened after a delay of 8 seconds, the object still can't be grasped.
![image](https://user-images.githubusercontent.com/46839641/128304843-5dc11405-8f96-45fe-97af-840f73c963e7.png)

[2021-08-09 11:56] camccaf-msft commented on #35
Hey @YiRonger! The cube's initial collision configuration isn't visible in your screenshot but the most likely cause of this behavior is setting the **Collision Presets** property on the cube to _NoCollision_ instead of setting just the **Collision Enabled** property to _No Collision_.

The subtle difference here is that the _NoCollision_ preset disables visibility trace responses, which don't get

[2021-08-10 08:53] EVRTOP commented on #35
Hello, thank you very much. This problem has been solved.
 There is another problem.
I tested the example of catching cheese.
Why can I catch it before my hand touches the cheese?

[2021-08-10 11:58] camccaf-msft commented on #35
This is actually expected behavior, we have a cone that extends out of the hand that triggers the change between near and far interaction modes and anything within this cone is considered close enough to be grabbed. You can see this cone using Unreal's [Visual Logger](https://docs.unrealengine.com/4.26/en-US/TestingAndOptimization/VisualLogger/).
![VisualLogger](https://user-images.githubuserconte

[2021-08-11 00:39] EVRTOP commented on #35
Oh, I understand. Thank you so much.

[2021-08-11 08:16] EVRTOP commented on #35
Hello, one more question,

Now, an object is hidden and can still be caught.

How to make an object hidden without being caught and displayed before it can be caught?

[2021-08-11 09:43] camccaf-msft commented on #35
No problem! That's another gotcha with Unreal where hiding an actor doesn't disable its collision volume. What you need to do is hide the actor and disable it's collision when you want it invisible and then re-enable both when you want it to be seen / caught again. This would be done using the **Set Actor Hidden In Game** and **Set Actor Enable Collision** blueprint nodes.

[2021-08-12 08:15] YiRonger commented on #26
OK, I see. Thank you so much!

[2021-08-12 08:18] YiRonger commented on #35
Oh, I see. Thank you very much!

[2021-08-12 09:37] camccaf-msft commented on #35
No problem, I'll close this issue but feel free to create another if you hit any other bugs in UXTools!

[2021-08-12 09:37] #35 closed

[2021-08-12 23:30] Olli1080 opened #36 "4.27 incompatible with Microsoft-OpenXR-Unreal at runtime"
After creating an application according to https://docs.microsoft.com/de-de/windows/mixed-reality/develop/unreal/unreal-quickstart
with the Microsoft-OpenXR-Unreal plugin everything works fine.

When enabling the 4.27 version (master branch) of the MixedReality-UXTools-Unreal plugin (no usage in code or blueprints) the application will run but won't react to grip/pinch actions of any hand.

[2021-08-16 16:33] Olli1080 commented on #36
After digging into the source, it appears that it's not a bug but undocumented behaviour AFAIK. The input actions of the msft motion controller are bound in UXTools/[Public|Private]/UxtDefaultHandTrackerSubsystem.[h|cpp] and used inside a subsystem which is why the original signal is not propagated to the blueprint.
Fixed by following #22 and overriding On*Pressed and CanHandle interface methods.

[2021-08-16 16:33] #36 closed

[2021-08-20 02:06] YiRonger opened #37 "Hello, how do the button labels display in Chinese?"
Hello, how do the button labels display in Chinese?

[2021-08-20 16:54] Cameron-Micka commented on #37
Hi @YiRonger, this is a great question. The fonts currently included with UX Tools only support a handful of Latin characters. But, if you want to support other character sets (like Chinese) you will need to import a new font. We have some instructions here on how to import a new font: https://github.com/microsoft/MixedReality-UXTools-Unreal/blob/public/0.12.x/Docs/Text.md#importing-a-new-font

On

[2021-08-21 00:23] EVRTOP opened #38 "After installation, where is the picture of the window set?"
Will UE4 project be packaged,

After installation, where is the picture of the window set?

Where is the game icon set?

[2021-08-26 20:04] greenwoodms06 opened #40 "Additional Hand Gestures Requested"
The hand gestures currently available in UXTools (i.e., grab and select) are great. However, some additional basic built in gestures may be very valuable to the community. Examples may include:
- single and double tap (e.g., a la air tap https://docs.microsoft.com/en-us/hololens/hololens2-basic-usage)
- side swipes (e.g., to dismiss a menu)
- other common signals such as "ok", "stop/halt"

Not sur

[2021-08-30 09:18] luis-valverde-ms opened #41 "No gesture events when UXT is active"
UXT currently consumes all hand select and hand grip events raised by OpenXR. This prevents any other code using those events, even if the are not used by any UXT control. UXT should instead not consume the events.

[2021-08-30 09:25] luis-valverde-ms commented on #40
Thanks for the feedback @greenwoodms06 .

You can listen for tap gestures using [UE's action mappings directly](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unreal/unreal-hand-tracking?tabs=426#gestures) (in OpenXR). If you do so, bear in mind there is a bug in UXT 0.12.0 that prevents user code from receiving those events: #41 . There's a fix for that in #39 .

We have in our ba

[2021-08-30 13:08] greenwoodms06 commented on #40
Regarding the mapping, I did in fact run into that action mapping bug and modified 0.12 based on those commits last week. Once I did that I implemented my own double tap using the built in grip/select using timers and got the functionality I was hoping for while avoiding overriding its default capabilities. So mission accomplished here I think.

Yup, understand the backlog. I'm sure yall have a la

[2021-08-30 13:51] #40 closed

[2021-09-17 12:28] ratkojagodic opened #43 "How to modify grab distance?"
I am trying to use the `GenericManipulator `and the `BoundsControl `components to allow far and near interactions. I would like to set up far interactions to start at say >30cm but near interactions to be only possible at <5cm from the target. Currently by adjusting the proximity cone I can set where the near/far threshold is, but that means that as soon as the hand is within the threshold, the us

[2021-09-20 11:59] ratkojagodic commented on #43
OK, I figured it out. It's in` UxtNearPointerComponent.h`. The parameter is called `ProximityRadius`.

[2021-09-20 11:59] #43 closed

[2021-09-27 16:56] luis-valverde-ms commented on #43
@ratkojagodic sorry for the delay replying. I'm glad you figured that out and thanks for sharing the solution with the rest.

[2021-10-06 13:15] TresSims opened #44 "UXT Grab Target Begin Grab events not firing for Two Handed Mode"
Using UE4.26.2 and UXT 0.12.0 the Begin Grab event is not firing when configured with the two handed flag set using blueprints.

EDIT: Upon further investigation it appears that the Begin and End grab events are being fired simultaneously, preventing you from ever entering a state where the component recognizes two hands grabbing the blueprint at the same time.

[2021-10-06 14:41] jjimenezg93 commented on #44
Hi @TresSims !

I'll look into this and get back to you during the next few days.

Please consider sharing further details or a screenshot of the blueprint if that's possible, as the more details the easier it'll be for me to reproduce your issue.

Thanks!

[2021-10-06 15:47] TresSims commented on #44
Hi @jjimenezg93

Thanks for your response! I'm more than happy to provide any information I can to help.

This screenshot shows the setup of my blueprint, including the event
![image](https://user-images.githubusercontent.com/1596358/136236254-d0af8808-91cf-49ac-a879-42d46f2ecb74.png)

This is currently happening using both the virtual hands in the play in editor experience as well as after the ap

[2021-10-07 19:51] TresSims commented on #44
Thanks for your help @jjimenezg93 ,

I do have a reason for having both. The `UxtGenericManiipulator ` I am using as you have described for the basic manipulation behavior, but I want separate logic to trigger when the object is grabbed with two hands, so I added the `UxtGrabTarget` that would only trigger those events when it is interacted with using both hands.

The idea is that when you  are gr

[2021-10-08 12:29] #44 closed

[2021-10-19 07:53] shukenmg opened #45 "Change XRSimulationHeadMovementComponent's movement settings in plugin settings"
It would be super helpful if we could change these values (Currently hard coded) in the plugin settings.
![image](https://user-images.githubusercontent.com/18000205/137866852-19084970-40eb-4535-a876-59a8d9b8fe4d.png)

[2021-10-20 14:21] darvin opened #46 "unreal 5 support"

[2021-10-29 07:39] YiRonger opened #47 "want to grab the whole uxt pinch slider actor"
Hello, I want to grab the whole uxt pinch slider actor, but I don't want to activate the Thumb. What can I do?

[2021-11-02 14:37] lukastoenneMS commented on #47
The following steps turn the slider in our examples into a grabbable actor:
1. Make a basic actor
2. Add a child actor with the UxtPinchSliderActor class.
3. Add a UxtGenericManipulator component.
4. Add a box collider component. Some important tweaks are needed here:
  4.1 Adjust the _scale_ to fit the visuals of the slider. Do **not** change the box _extent_ values, for some reason this only aff

[2021-11-08 14:15] JimSimons-UH opened #48 "Is the hand model provided for simulation only?"
Hi,

It looks like the provided hand animblueprint is for simulation only, such that when using real world hand tracking data, there isn't a rigged hand provided. Is this the intention (because of AR) or is there a way of adding a rigged hand to the scene within the toolkit?

[2021-11-08 14:50] luis-valverde-ms commented on #48
Hi @JimSimons-UH . That is by design indeed: the blue hands are there to stand for the real hands that you would see when actually running in AR. See [here ](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unreal/unreal-hand-tracking?tabs=426#hand-mesh-visualization-in-openxr) for documentation on how to add mesh visualization for hands. I'm closing this issue for now but feel free

[2021-11-08 14:50] #48 closed, assigned to nobody

[2021-11-17 14:35] ghost commented on #46
Here's a preliminary branch for testing UXTools with Unreal Engine 5 and to iron out issues.
_**This is not an official release yet, which can only be done after UE5 is out of early access!**_
https://github.com/microsoft/MixedReality-UXTools-Unreal/tree/public/0.12.x-UE5.0

Current known issues:
- Some test failures, mostly related to UMG.
- Some shaders using custom shader code are broken
- Most

[2021-12-08 02:26] EVRTOP commented on #47
I known thank you very much!!!

[2021-12-08 02:26] EVRTOP opened #49 "Hello, please ask a question. How to change the icon of a button after clicking a button?"
Hello, please ask a question. How to change the icon of a button after clicking a button?

[2021-12-08 14:16] camccaf-havok opened #50 "Can't install packages from the MRTK Hub or GitHub"
Question from Ferrys93_de on the UE Marketplace:

After that did not work, I downloaded the plugins from GitHub and put them into the "Plugins" folder. Starting the project UE4 asks me to add missing packages, after clicking "yes" it tells me that it could not compile, and I should do it manually.
Starting as Admin makes for both no differences.
Why does this error appear, and how can I fix it?
Th

[2021-12-09 15:22] Ferrys93de commented on #50
Hello Mr. McCaffrey,

I linked a lot of screenshots and the log files from trying to install only the GT Tools via the Hub. I updated the UE4 from 27.1 to 27.2 and also checked all plugins for Visual Studio as well as my Windows and SDK version. Since I updated to 4.27.2 the error with the missing packages does not occur anymore. Further, was I not able to find the GT Tools I downloaded manually a

[2021-12-09 17:13] camccaf-havok commented on #50
Thanks for the info @Ferrysmc! Will look into this and report back with any findings

[2021-12-10 00:07] Cameron-Micka commented on #49
Hi @EVRTOP,

There are a few ways to do this. If this button is meant to be a "toggle" button that shows distinct icons for two different states (on/off) then I would recommend using a `UxtPressableCheckButtonActor`. For example, I've configured this button to toggle between 'a' and 'b' using the uncheck and check icon brush properties:
![image](https://user-images.githubusercontent.com/13305729/1

[2021-12-13 19:40] arvinkx commented on #14
@luis-valverde-ms Has there been any progress on this yet? Would love to be able to use UXTools in multiplayer experiences in UE4.

[2021-12-14 09:57] luis-valverde-ms commented on #14
@arvinkx I'm afraid there is nothing new to report here. I'd love to look into this but at the moment we're working full time on another project and doing only basic maintenance in UX Tools. I don't think we will have the chance to make progress on this for at least the next 6 months. If you or anyone else want to give it a go and create a PR I'll make sure we find the time to review it.

[2021-12-17 14:40] helloqiqi commented on #14
Thanks very much for maintenance  UX tools ,Im going to try  use microsft Mesh to finish our projects .

[2022-02-07 17:33] tahoorasf1 opened #51 "could not mark certificate file for add"
Hello, I am using unreal 4.26 and mrtk. but when I try to create a certificate in "project setings>platform-hololens> packaging> add resource localization target". it gives me the error "could not mark certificate file for add". I am COMPLETELY sure I add "CN=..." at the beginning of my project.

[2022-02-08 12:50] luis-valverde-ms commented on #51
Hi @tahoorasf1 , I gave that a go with UE 4.27.0 and I couldn't reproduce it. I'm not sure it has to do with the UE version though. Are you seeing the "could not mark certificate for add" error when clicking on the '+' sign to add the resource localization target?

<img width="299" alt="image" src="https://user-images.githubusercontent.com/47451126/152990049-a7ea6e0f-a127-46ec-a362-317f80f22a83.pn

[2022-02-19 22:04] LeoBensch commented on #50
Did you find any solution to solve this issue? I have the same problem when I try to follow the video tutorial

[2022-02-23 10:11] camccaf-havok commented on #50
Sorry for the delay in responding here, the issue @Ferrysmc was hitting has been fixed in Hub version 1.0.2, which is now available on the Unreal Engine Marketplace. Let me know if you're hitting any other issues using the Hub!

[2022-02-28 11:49] #50 closed, assigned to camccaf-msft

[2022-03-03 10:16] Duma46 opened #52 "[UX Tools] [UX Graphics Tools Examples] Spatial Peception Mesh is ignoring Hand-Trace"
Hey UX-Team,

If i run my own AR-App for HoloLens 2 and the "Spatial Perception"-Level of UX GraphicsToolsExample on my HoloLens, both times the spatial mesh is ignoring my Hand-Trace input on HoloLens2.

I turned on "generate Collision for Mesh Data" in the ARSessionConfig In both applications.

![grafik](https://user-images.githubusercontent.com/91143739/156543294-a4ca5cec-1ffb-49ee-bd8a-cc6a9e2

[2022-03-03 10:58] luis-valverde-ms commented on #52
Hey Dennis! With Hand-Trace input you mean the ray shooting out of your hand? What version of UE and UXT are you using? If you can send us a repro project that would help us a lot diagnosing the issue quickly. Thanks!

[2022-03-03 11:18] Duma46 commented on #52
Thanks for the fast reply :)

Im using:
UE: 4.27.2
UXT: 0.12.1

Yes, i mean the ray shooting out of my hand, but also the tap-to-place function with an object doesnt work on the HoloLens 2.

Sorry that i have to ask, but what do you mean by "repro project" (My project or the UXExample project?) and where can i upload the project ?

[2022-03-03 11:24] luis-valverde-ms commented on #52
With repro project I mean a UE project where we can see the issue in action but I see you mentioned it shows in the GraphicsToolsExample so we will give that a try and let you know in the next day or two. Thanks for reporting this!

[2022-03-03 18:10] ghost commented on #52
I was convinced that we had line tracing against the tracked geometry somewhere, but i couldn't actually find any confirmation. The surface magnetism only seems to take into account "regular" geometry, so it may well be that we never tried this in UXTools so far. It could also be a recent change in UE 4.27.

There is a separate blueprint function in the AR > Trace Result category, called "Line Tra

[2022-03-04 07:59] Duma46 commented on #52
Thank you for your fast reply Lukas.

In my opinion the "surface magnetism" and the "Tap-to-place" function were working in UE 4.26.9 but than I updated my engine to 4.27.0 and both functions were ignored by the spatial mesh. Do you think UX Tools will fix this problem soon ?

From your point of view should cast a line trace, maybe out of my head or hand with the function "Line Trace Tracked Objec

[2022-03-04 09:38] ghost commented on #52
Yes, this appears to be a change in UE 4.27.2 that breaks previous behavior in UXTools. I don't know when we will be able to fix that, but in the meantime you could try using the hand actor and its far pointer component to construct start and end points for the trace. I haven't fully tested this, but something along these lines should work (based on the MRDefaultPawn):

Cache the hand actors after

[2022-03-07 09:09] ghost commented on #52
It turned out that there is a bug in the MicrosoftOpenXR plugin that excluded spatial mapping meshes (aka. Tracked Geometry) from LineTraceByChannel. There should be a fix for that plugin soon, so this workaround should no longer be needed and the regular line trace should work again.

[2022-03-07 09:49] Duma46 commented on #52
Sounds great, thankyou Lukas for your research.

[2022-03-08 09:51] ghost commented on #52
https://github.com/microsoft/Microsoft-OpenXR-Unreal/commit/136a9cc074a0d792a6df0255ba5817eaed67e878

[2022-03-08 09:51] #52 closed, assigned to nobody

[2022-03-08 13:45] tahoorasf1 commented on #51
yes,I get the error when I click on Generate new.

[2022-03-08 13:56] tahoorasf1 commented on #51
yes I previously I add it using generate now

[2022-03-08 20:06] ARtSSt opened #53 "Ue4 builds create memory leak"
Hello all, I am looking for help with a memory leak issue when we compile from unreal for hololens2.

We have narrowed down this issue to UE4 building to H2. We have stripped everything from our project and compile a app running nothing and it seems the memory is still slowly filling up.

We have scoured the Hololens2, the tmp directories and we cannot find wherever these files are written to. Cle

[2022-03-09 12:22] luis-valverde-ms commented on #51
Thanks @tahoorasf1 . Just to be clear, you get the error when clicking on "Signing Certificate > Generate new", right? I'm trying to understand how does "project setings>platform-hololens> packaging> add resource localization target" connect to that. Do you also get the error when clicking on that?

It seems that failure to mark a file for add could be related to the source control system. If you

[2022-03-10 14:25] luis-valverde-ms commented on #53
Hey @ARtSSt , I am not clear from your description: are you running out of storage space in the HL2 device? I have seen that happen if you have accumulated too many crash dumps. You can check app crash dumps via the device portal: https://docs.microsoft.com/en-us/windows/mixed-reality/develop/advanced-concepts/using-the-windows-device-portal#app-crash-dumps/

[2022-03-10 19:15] ARtSSt commented on #53
Yes we are running out of memory - but the files cannot be found causing the issue, it appears to be in temporary memory somewhere.
This seems specific to builds from UE4 -  We tested this many ways and have stripped the app to only the basic XR plugins in a simple app build(which compiles fine) and deploy and we still see the slow memory leak.

This is appears to be the same issue :
https://docs.

[2022-03-11 11:11] luis-valverde-ms commented on #53
I see. So you are running out of disk/storage space, not RAM. @fieldsJacksonG , do you know who could be a good person to follow this up with?

[2022-03-29 03:12] steven-mountain opened #54 "UxBoundscontrol"
I have added a UxBoundsControl component to an actor in my hololens project, while there is no bars which should surrounding the actor when the project is running in my Hololens2.

[2022-03-30 15:18] julianjimenez-ms commented on #54
Hi @steven-mountain,

In order to be able to help you, can you please provide a screenshot of your Blueprint where we can see the configuration of the `UxtBoundsControl` component? Did you simply add the component to your Blueprint or did you modify its default configuration?

Besides that, can you confirm if you see the bounds surrounding your actor when playing the scene in the editor?

Thank yo

[2022-03-31 01:58] steven-mountain commented on #54
Dear julianjimenez -ms,
Firstly, I just simply add the component to my actor as what the video says.
the course link is (https://www.unrealengine.com/en-US/onlinelearning-courses/hololens-2-mixed-reality-production-for-unreal-engine).
the chapter is&nbsp;Incorporate Hand Interactions with UX Tools

What I did is just adding the UxtBoundsControl component to my target actor.

Secondly, I'm quite su

[2022-03-31 10:06] steven-mountain commented on #54
Thanks for your help, I rebuilt my project today, and the problem has magically disappeared though I don't know why.

[2022-03-31 14:17] julianjimenez-ms commented on #54
Hi @steven-mountain,

Thank you for letting us know. I'm glad to hear that your issue went away.

Regarding the use of MRTK in UE, you can also have a look at the [docs in this repository][1] and the [Mixed Reality development in Unreal Engine][2] entry in [docs.microsoft.com](https://docs.microsoft.com). Those should give you a bit more context.

[1]: https://github.com/microsoft/MixedReality-UXT

[2022-03-31 15:06] #54 closed, assigned to nobody

[2022-04-19 18:47] Kean4711DUB commented on #46
Has OpenXR plugin replaced Mixed reality toolkit for ue5 or are they both used together? Another section of the forum gave me a response. Said in short they are complimentary but I can't get uxtools to work on ue5. Any suggestions?

[2022-05-03 13:13] tahoorasf1 opened #55 "delete inputaction mapping"
Hello, how can I delete the automatic creation of uxtrightsselect?

[2022-05-03 14:26] ghost commented on #55
This input action is defined by `UxtDefaultHandTracker` indirectly. You can remove it by removing the 4 lines that use `UxtHandTrackerInputActions::RightSelect` here: https://github.com/microsoft/MixedReality-UXTools-Unreal/blob/6ae6bc6bb7dfa6c7ad4bbdebfeedc39ece1c0f73/UXToolsGame/Plugins/UXTools/Source/UXToolsInput/Private/UxtDefaultHandTracker.cpp#L14-L36

If you remove all the mappings using th

[2022-05-03 14:26] #55 closed, assigned to nobody

[2022-05-03 16:21] tahoorasf1 commented on #55
@lukastoenneMS, thanks for answering, but it is not the correct answer. When I delete this part from my code and press F5 on my keyboard, the created unreal still has a key binding of uxtrightsselect.

[2022-05-03 16:51] ghost commented on #55
Can you check the Config/DefaultInput.ini file if it contains entries for the "UxtRightSelect" actions? It seems that manually changing input mappings can trigger an update where it enters all the existing actions into the init file. If you find them there and remove them it should at least not add those actions back automatically.

[2022-05-03 18:41] tahoorasf1 commented on #55
Yes, nothing is there. The only other place that I have is "inputcoreTypes.cpp". Should I delete it from there?
BTW, when you delete it in your project is it gone? And I am working with 4.26 unreal.

[2022-05-03 18:53] tahoorasf1 commented on #55
By the way, when I am running using the F5 after creating unreal with the extra binding, the Config/DefaultInput.ini file does not show the extra buttons. please confirm if you see this problem in 4.27,@lukastoenneMS

[2022-05-04 07:19] ghost commented on #55
I don't know why this wouldn't work. For me doing this:
![image](https://user-images.githubusercontent.com/47210016/166637369-0e310724-5685-406b-8f26-b38e07d1ae15.png)
removes the action from here:
![image](https://user-images.githubusercontent.com/47210016/166637453-f0bcf9f5-232c-48bf-866e-0389bb1df2ed.png)

`InputCoreTypes.cpp` is a UE4 engine file and defines input keys, but has nothing to do w

[2022-05-04 09:11] tahoorasf1 commented on #55
When I remove the action from unreal, hololens perfectly works in unreal editor. But as soon as I make the build-in actual hololens, it is not working.

[2022-05-05 09:17] SebastianSchumm opened #56 ""reposition" speech command not working with OpenXR in Unreal Engine 5.0.1"
I have been using the UXToolsGame for testing Holographic Remoting with HoloLens 2.
When using OpenXR, the "reposition" speech command has no effect.
The InputAction RepositionWorld is triggered and calls "Reset Orientation and Position", but the underlying OpenXR plug-in has not implemented this function.
@fieldsJacksonG has helped me debugging this so far.

[2022-05-09 16:16] luis-valverde-ms commented on #56
Hi @SebastianSchumm . From your description it sounds like the issue lies inside the "Reset Orientation and Position" BP node, either on Epic's side or on the Microsoft Open XR side. @fieldsJacksonG , is this one in your radar?

[2022-05-17 14:25] Intellijoint-Tristan commented on #6
I had the same signing key issue but my Company Distinguished Name was correct. Turn out I put my project name in the Description field instead of the Project Name field. Just wanna share, hopefully this will save someone an hour of fixing this problem.

[2022-05-18 07:00] SebastianSchumm commented on #56
@fieldsJacksonG submitted a fix expected to go into UE 5.1.

[2022-05-25 09:12] za12567 opened #57 "node 'Remove ARPIN from Local Store' not working"
the blueprint node 'Remove ARPIN from Local Store' seems not work?
'Remove all ARPIN from local store' works fine; I test 3 actions with the same name(save remove remove_all)，I didn't find any scene that remove node work
hololens2 system ver.  20348.1503
UE 4.27 with newest plugins

[2022-05-31 05:32] shukenmg opened #58 "Suggestion - Use widget components for text in buttons etc. for more compatibility with fonts."
UX Text are all text renderers, this makes it hard to add custom fonts in other languages just as Chinese or Japanese, because of the need to create font materials and distance fields.

So, it would be great if, instead of Text Renderers, UMG widgets could be used for text because UMG supports Realtime fonts.

Thanks!

[2022-05-31 08:18] shukenmg opened #59 "Issue - Scrolling Object Collection does not hide"
I have a UxtScrollingObjectCollection under a UxtUIElementComponent
and the Scroll Box won't hide when setting UxtUIElementComponent 's visibility to Hide.

[2022-06-01 10:42] luis-valverde-ms commented on #57
Thanks for reporting the issue @za12567 . It seems to be a problem with HoloLens support more than UX Tools. @fieldsJacksonG , could you follow up on this?

[2022-06-01 10:42] #57 closed, assigned to nobody

[2022-06-01 10:59] luis-valverde-ms commented on #58
Thanks for the feedback @shukenmg . We chose to use text renderers despite the inconvenience because UMG widgets could be too expensive perf-wise for mobile platforms like HoloLens. You can find a bit more of detail in our [Text](https://microsoft.github.io/MixedReality-UXTools-Unreal/Docs/Text.html) documentation. @Cameron-Micka , do you know if there is an easy way to use UMG widgets instead of

[2022-06-01 16:44] luis-valverde-ms commented on #59
Hi @shukenmg , can you share your setup? I'm assuming you have an actor with the UI Element and a child actor with the Scrolling Object Collection? What is the Scroll Box for you, the Back Plate component?

[2022-06-02 00:36] FabianEP11 opened #60 "Error with Anchors in UE4.27 and uxtools 0.12"
Hi,
I have an application that uses Azure Spatial Anchors in UE 4.26 with the uxtools 0.11 and everything works well.

I tried to update it to UE 4.27 and uxtools 0.12, but for some reason the behavior is different, none of the anchors are loaded in the right place. All of them start at 0,0,0 meaning at the position of the headset where I start the app.

Also, if I spawn an anchor and try to save

[2022-06-02 02:39] shukenmg commented on #59
Thats right, I then spawn (premade with custom code) UXT Button actors using the Spawn Actor node and then used the add actor to collection node to add them to the Scrolling box and then attach the button to the scrolling box component.

[2022-06-02 02:43] shukenmg commented on #59
I made a temp workaround by modifying the ResetCollectionVisibility function to check if its parent UI Element component is hidden before Showing/Hiding the Actors:

[code]

`bool IsInit`

Is to ensure that the Scrolling Box is set up correctly since if some buttons are hidden during Init the bounds calculation breaks.

[2022-06-02 15:42] luis-valverde-ms commented on #60
Thanks for reaching out @FabianEP11 . It looks like this has to do with Azure Spatial Anchors support in UE 4.27 more than with UX Tools. @fieldsJacksonG , could you follow up on this? Is there a support channel for ASA issues?

[2022-06-02 15:42] #60 closed, assigned to nobody

[2022-06-03 23:29] Cameron-Micka commented on #58
This is a great suggestion @shukenmg from a workflow perspective but as @luis-valverde-ms mentioned we found UMG widgets prohibitively expensive on HoloLens when many were in a level. Note, we've not profiled how they perform in UE5 (maybe performance has improved?).

I can't think of an automatic way to move from Text Renderers to UMG widgets. But if you look at the `Tooltip Example` scene the to

[2022-06-07 08:56] luis-valverde-ms commented on #59
If that's working for you I'm going to leave work on this issue paused. We are on minimum maintenance mode for the time being and have to be selective about how we spend our limited resources. Eventually, I think the way forward is to make Scrolling Object Collection derive from UI Element. I'll leave this issue open to account for the need for that work.

[2022-06-07 08:57] shukenmg commented on #59
Got it, thank you!

[2022-06-10 10:47] krammak commented on #14
Hi, may I ask if there is any update?
I am using UE5 and 0.12.x.
I also find failed to use UxtHandInteractionActor as the client of the multiplayer.

[2022-06-10 11:05] krammak opened #61 "How to use OpenXRMsftHandInteraction Input in UE5?"
Hi,
I tried to add the OpenXRMsftHandInteraction for the input section in project settings, but no event is fired.

[2022-06-13 10:48] luis-valverde-ms commented on #14
Hi @krammak , it is still the same story for the foreseeable future: we only have the resources to do basic maintenance but if a kind soul wants to give it a go we will find the time to review any PRs for this. Sorry for the inconvenience.

[2022-06-13 14:28] luis-valverde-ms commented on #61
Hi @krammak , this sounds like an issue with HoloLens support in Unreal more than UX Tools. @fieldsJacksonG , could you follow up on this? What would be the right support channel for these kind of questions?

@krammak , you may be able to workaround the issue by registering a global far interaction handler from C++ code to detect far pointer press/release, like we do in the [tap to place component

[2022-06-13 14:28] #61 closed, assigned to nobody

[2022-06-16 14:17] krammak commented on #14
Hi @luis-valverde-ms, you guys have already done a great job, thanks a lot for the maintenance.
Wishes the UXTools can get more attention.
Although I am a C++ newbie, I would try to dig into the code.

[2022-06-16 14:21] krammak commented on #61
Hi @luis-valverde-ms , thanks for the suggestion, I will try the approach.

[2022-08-16 15:08] madop3018 commented on #46
Hi there, I was wondering if there is any update regarding MRTK to be working with UE5?

If not yet, is there a rough date when it will be available?

[2022-09-07 15:07] PJJDenso commented on #46
Is there a reason why there is no sound when packaging the UXTools example on the HL2?
I can't seem to figure out why there is not sound in the example or my own project.

[2022-09-08 15:53] camccaf-havok commented on #46
I'm finishing up the final bits for getting UXT 0.12.1 running on UE 5.0.3, we should have a release ready in the next week or so!

We have also been investigating this, we found an engine bug in the audio system used on HL2 and are in the process of reporting it to Epic. You can check if you're seeing the same bug by looking for the following entry in the logs for your application:
`LogOutputDevi

[2022-09-13 07:56] Tim-Potratz opened #62 "Better documentation for requierd settings"
The Hololens can be quiet a difficult platform for developing, although this project is a more than helpful tool, more documentation is needed.
Especially for the requierd Project settings, when you start to Optimize your project and turn of stuff, it often happens that you break something within UXTools. So now you have to try and error your way to a working version, which (as you can imagine) ta

[2022-09-13 16:24] Clandguth opened #63 "Oculus Quest 2 - Text is very difficult to read from any distance on Quest 2"
## Description

Text is very difficult to read at all points in the sample exclusively on Quest 2

## Screenshot

![com Microsoft UXToolsGame-20220912-130830](https://user-images.githubusercontent.com/110259320/189954539-64ec5776-416d-43ae-bcd4-8dd0b6a035ef.jpg)

Large text can be seen, but is still sort of warped
Medium text can be read when the user gets closer to the UI
Small text, like the but

[2022-09-16 15:05] camccaf-havok commented on #62
Hi Tim, do you have examples of the settings you've seen that cause UXTools to break? We have our recommended settings documented on https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unreal/performance-recommendations-for-unreal which covers the most important settings for optimizing the renderer for HL2

[2022-09-19 12:46] Tim-Potratz commented on #62
One Option is the "Default Shape Complexity", it seems like it need to be set to "Simple and Complex" or "Use Complex Collision As Simple" in order for UXTools (mainly the Buttons) to work.

[2022-09-19 12:55] Tim-Potratz opened #64 "Input Events are not firing [UE5]"
Hey Guys,
I am currently working on a project and have this Issue for quiet some time now. The Blueprint is nothing special and I have tried a lot of different ways to acess the Firing Events, but with not sucess.
Did I miss something?
Is this a know Issue?
Can someone verfy this Issue in UE5?
![grafik](https://user-images.githubusercontent.com/112068772/191022011-81b26454-f717-4e92-b3ce-1466203f2

[2022-09-20 08:17] luis-valverde-ms commented on #63
Thanks for reporting this @Clandguth . You're totally right, that doesn't look good. I'd like to fix it but we don't have the resources to tackle anything but the most pressing issues for the time being. If you want to give it a go and post a pull request, I'll make sure we find the time to review it.

[2022-09-20 15:41] Clandguth commented on #63
Definitely something I'll take some time to look at in the future. Thanks for the response

[2022-09-27 17:04] camccaf-havok commented on #64
Hi Tim, that event is connected to motion controllers grab buttons and aren't expected to fire when using hand tracking. Is that your intended use case here?

We recommend using the `UxtGrabTarget` component's `OnBeginGrab`/`OnEndGrab` events to detect interactions with an object as that covers both hand tracking and motion controllers

[2022-10-03 14:57] camccaf-havok commented on #46
The UXTools for Unreal Engine 5 update has just gone live, it's available on the [Unreal Engine Marketplace](https://www.unrealengine.com/marketplace/en-US/product/mixed-reality-ux-tools) or from the [GitHub Release Page](https://github.com/microsoft/MixedReality-UXTools-Unreal/releases/tag/v0.12.1-5.0)!

[2022-10-03 14:57] #46 closed

[2022-10-06 05:34] Tim-Potratz commented on #64
No it is not my intended use case...
I'm trying to get an event when doing the pinch gesture. How can I do that?
So this one to be clear:
![grafik](https://user-images.githubusercontent.com/112068772/194222405-6d56fc0a-2edb-4ef8-a74f-ed9baebbe60c.png)

[2022-10-07 16:55] camccaf-havok commented on #64
Hi Tim, we don't expose those as events through UXTools but you can get the pinch state by directly polling the `IUxtHandTracker` as follows:
[code]

Hope that helps!

[2022-10-10 06:38] Tim-Potratz commented on #64
To be honest I'm not really experience with c++, is there a way to do the same in a Blueprint?
Thanks!

[2022-10-10 10:24] camccaf-havok commented on #64
Unfortunately not, the IUxtHandtracker isn't exposed to Blueprints.

I put together an example component that does what you're looking for that you can include in your project, here's the steps on how to create / use it:

1. Go to "Tools -> New C++ Class" and a create a new Actor Component called `PinchDetectorComponent`
2. Replace the contents of PinchDetectorComponent.h with:
[code]
3. Replace t

[2022-10-13 06:41] Tim-Potratz commented on #64
I was not able to get this code working.
#Include seems to fail for some reason.
![Unbenannt](https://user-images.githubusercontent.com/112068772/195521177-ba66e269-27b7-40b2-b295-29f24ae6c235.PNG)

[2022-10-13 10:48] camccaf-havok commented on #64
Hey Tim, does the code compile as is if you try to build and run from within Visual Studio? Sometimes Intellisense gets confused when working with really large projects like Unreal.

If not, step 5 above is what exposes the UXTools headers to your own source code. It's what tells Unreal where to look for header files. If you haven't added any extra modules to your project then there should only be

[2022-10-15 17:53] keertimanney commented on #63
Hi @Clandguth ! I was wondering if you were able to get your hands tracked on Oculus Quest 2 using UXtools in UE 5.03??

[2022-10-17 08:15] Tim-Potratz commented on #64
Yeah that was the problem, I didn't changed it to my project name.
Seems to work fine now. Maybe this could be in the plugin by default?

Thanks a lot for your help!

[2022-10-17 08:15] #64 closed, assigned to camccaf-msft

[2022-10-17 08:15] #62 closed, assigned to nobody

[2022-10-17 09:49] camccaf-havok commented on #64
No problem! I've added this as a feature request to our internal tracking system :)

[2022-10-17 16:07] Clandguth commented on #63
I'll put a note down and aim to try it out this week. I've been focusing on the Unity branch recently, but should have time to check it out soon

[2022-10-19 05:53] Tim-Potratz opened #65 "QRCode Tracking Issues [UE5]"
Hello all,
I have been developing with the Hololens for quite a while now and have issues with continues QRCode tracking. Here is what's happening:
From time to time, you can see the Debugbox(one that I use to see the tracking position) glitching out to 0, 0, 0 while still being in the "tracking" state. This means your program is going to receive wrong information even with filtering the output.
O

[2022-10-19 10:26] luis-valverde-ms commented on #65
Hey @Tim-Potratz , this sounds like a platform issue more than a UX Tools one. @fieldsJacksonG , would you be able to help Tim?

[2022-10-27 07:29] Tim-Potratz commented on #65
Are there any updates on this problem? It is some what critical for my app in oder to work.

[2022-10-27 07:35] luis-valverde-ms commented on #65
Sorry for the delay @Tim-Potratz . I've pinged @fieldsJacksonG directly, hopefully we will hear from him soon.

[2022-10-27 21:54] fieldsJacksonG commented on #65
@Tim-Potratz are you using OpenXR or the deprecated WMR plugin?

If you are using WMR, can you switch to OpenXR?  You can make this switch by adding this plugin to your game's Plugin directory:
https://github.com/microsoft/Microsoft-OpenXR-Unreal/tree/main/MsftOpenXRGame/Plugins/MicrosoftOpenXR

Looking at the WMR QR code, I could see this possibly happening here if the QRCode was not able to be t

[2022-10-28 05:05] Tim-Potratz commented on #65
I remember having problems packaging the code with OpenXR plugin, though I will try it out and figure out if it works better.

[2022-10-28 07:55] Tim-Potratz commented on #65
I get this error when trying to use OpenXR:
![grafik](https://user-images.githubusercontent.com/112068772/198534637-6abebc7d-c1e3-4cef-9a43-ac0f6cdfec86.png)

Should I copy this to the OpenXR issues or did I miss something?

[2022-10-28 08:20] luis-valverde-ms commented on #65
Did you enable the HoloLens plugin? See: https://learn.microsoft.com/en-us/windows/mixed-reality/develop/unreal/unreal-quickstart#enabling-required-plugins

[2022-10-28 08:42] Tim-Potratz commented on #65
The HoloLens plugin doesn't show up. Maybe because I'm using UE5?

[2022-10-28 09:34] luis-valverde-ms commented on #65
It could be, I'm not that familiar with the latest state there. Did you select HoloLens 2 support in the UE5 installation options? https://learn.microsoft.com/en-us/windows/mixed-reality/develop/unreal/unreal-project-setup

[2022-10-28 09:40] Tim-Potratz commented on #65
Yeah I already had done all those steps with WMR, which worked fine. I don't have the Mixed Reality Toolkit Hub installed, because I use the Source plugins to be on the newest state of development.
~~Note that the current OpenXR plugin for UE5 doesn't seem to be officially released.~~
~~Edit: Okay scrab that last part, I may have downloaded the wrong version, I will try the released one.~~
Edit 2:

[2022-10-28 10:23] camccaf-havok commented on #65
Hey Tim, theoretically UXT should work with OpenXR, although it hasn't been tested on UE5 and I don't have a HL2 near me at the moment to test it myself.

I don't think I've seen packaging issues with OpenXR before, if you can get the error message causing the packaging to fail that would be really useful!
If you hit a crash on device when using the MSFT OpenXR plugin, there's a workaround for it

[2022-10-28 11:13] Tim-Potratz commented on #65
Yes the message is in editor, though it hasn't showed up before and the app crashes on the HoloLens when trying to launch.

[2022-10-28 18:26] fieldsJacksonG commented on #65
The issue Carl linked is most likely why you are crashing, search the blueprints for StartARSession and add a small delay before it is actually called to work around this.  If you are using the UXT sample project, StartARSession is called in UXToolsExamples/Common/GameMode/MRGameMode's event graph.

This is fixed in 5.1, but I do not recommend updating right now since HoloLens has a few other 5.1

[2022-11-01 12:00] Tim-Potratz commented on #65
Thanks the app starts now and the tracking seems to be okay. Though I can't get the actual tracking state like before.

[2022-11-07 07:01] Tim-Potratz commented on #65
Okay checked my code and I think it's some issue with OpenXR. Should I try out one of the dev versions?

[2022-11-08 06:03] Tim-Potratz commented on #65
Okay I will move this crashing issue to OpenXR. QRCode tracking works from what I can tell.

[2022-11-08 06:11] #65 closed, assigned to nobody

[2022-11-10 09:11] Tim-Potratz commented on #64
I also figured out, that you can do something like this in a blueprint:
![Test Pinch](https://user-images.githubusercontent.com/112068772/201048693-acec0282-eb92-45b3-b1ff-513be9bb28e6.PNG)

This way you can also choose other finger combinations, if desired. Though this isn't as efficient as directly getting it from the HoloLens.
Hope this could help someone in the future.

[2022-11-23 01:14] nickknyc opened #67 "Unreal 5.1 Support?"
Looking forward to it.

[2022-11-23 12:09] luis-valverde-ms commented on #67
@nickknyc , we have beta support in the [public/0.12.x-UE5.1](https://github.com/microsoft/MixedReality-UXTools-Unreal/tree/public/0.12.x-UE5.1) branch. It's beta because it hasn't gone through our QA process yet. See here for the list of changes and a few caveats: #66

[2022-11-23 15:09] nickknyc commented on #67
many thanks Luis and team

Nick

Sent from Surface Duo 2
________________________________
From: Luis Valverde ***@***.***>
Sent: Wednesday, November 23, 2022 7:09:34 AM
To: microsoft/MixedReality-UXTools-Unreal ***@***.***>
Cc: Nick Katsivelos ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/MixedReality-UXTools-Unreal] Unreal 5.1 Support? (Issue #67)

@nickknyc<https://github.com/nickkn